html {
    font-family:'Times New Roman', Times, serif;

    background-image: url('bagel.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 75%;
    background-color: black;
    background-attachment: fixed;
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='49' height='59' viewport='0 0 100 100' style='fill:black;font-size:29px;'><text y='50%'>🔍</text></svg>") 16 0,auto; /*!emojicursor.app*/
}

/* turns off scroll*/
html, body {
    overflow-x: hidden;
    overflow-y: hidden;
  }

/* background bagel */
#image-container {
    position: fixed;
}

/* beagle img */
#hover-img {  
    position:fixed;
    width: 20%;
    height: auto;
    bottom: 10%;
    left: 10%;
}


#parameter-container {
    max-height:min-content;
    position: relative;
    left: 50%;
    transform: translate(-50%,-50%);
    width: fit-content;
}

#parameter-display {
    /* background */ 
    background-color: black;

    /* text and font */
    text-align: center;
    font-size: 300%;
    font-style: italic;
    color:aliceblue;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}