html {
    font-family:'Times New Roman', Times, serif;

    background-image: url('bagel.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 75%;
    background-color: black;
    background-attachment: fixed;

    cursor: url('data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🐶</text></svg>')
}

html, body {
    overflow-x: hidden;
    overflow-y: hidden;
  }

body {
    position: relative;
    margin: 0;
    padding: 0;

}

main {
    display: flex;
    flex-direction: column;
}


#image-container {
    position: relative;
}

#hover-img {  
    position:fixed;
    width: 20%;
    height: auto;
    bottom: 180px;
    left: 150px;
    
}

.hovering {
    cursor: pointer;
}

#parameter-display {
    text-align: center;

    font-size: xx-large;
    color:aliceblue;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

    display: none;
}